<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="true" version="3.0">
  <welcome-file-list>
    <welcome-file>page/Welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.shengjia.adminServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuggestServlet</servlet-name>
    <servlet-class>com.shengjia.userServlet.SuggestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuggestServlet</servlet-name>
    <url-pattern>/SuggestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMessage</servlet-name>
    <servlet-class>com.shengjia.adminServlet.DeleteMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessage</servlet-name>
    <url-pattern>/DeleteMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailMessage</servlet-name>
    <servlet-class>com.shengjia.adminServlet.DetailMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailMessage</servlet-name>
    <url-pattern>/DetailMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailFAQ</servlet-name>
    <servlet-class>com.shengjia.adminServlet.DetailFAQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailFAQ</servlet-name>
    <url-pattern>/DetailFAQ</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>DeImg</servlet-name>
    <servlet-class>com.shengjia.adminServlet.DeImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeImg</servlet-name>
    <url-pattern>/DeImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FAQServlet</servlet-name>
    <servlet-class>com.shengjia.userServlet.FAQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQServlet</servlet-name>
    <url-pattern>/FAQServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.shengjia.adminServlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuccServlet</servlet-name>
    <servlet-class>com.shengjia.userServlet.SuccServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccServlet</servlet-name>
    <url-pattern>/SuccServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SucServlet</servlet-name>
    <servlet-class>com.shengjia.adminServlet.SucServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SucServlet</servlet-name>
    <url-pattern>/SucServlet</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <servlet-name>OPSuc</servlet-name>
    <servlet-class>com.shengjia.adminServlet.OPSuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OPSuc</servlet-name>
    <url-pattern>/OPSuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OPFAQ</servlet-name>
    <servlet-class>com.shengjia.adminServlet.OPFAQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OPFAQ</servlet-name>
    <url-pattern>/OPFAQ</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>OPMain</servlet-name>
    <servlet-class>com.shengjia.main.OPMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OPMain</servlet-name>
    <url-pattern>/OPMain</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>OPFAQ1</servlet-name>
    <servlet-class>com.shengjia.faq.OPFAQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OPFAQ1</servlet-name>
    <url-pattern>/OPFAQ1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SD</servlet-name>
    <servlet-class>com.shengjia.userServlet.SD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SD</servlet-name>
    <url-pattern>/SD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSuc</servlet-name>
    <servlet-class>com.shengjia.adminServlet.AddSuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSuc</servlet-name>
    <url-pattern>/AddSuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mesPage</servlet-name>
    <servlet-class>com.shengjia.adminServlet.mesPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mesPage</servlet-name>
    <url-pattern>/mesPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mesPage1</servlet-name>
    <servlet-class>com.shengjia.adminServlet.mesPage1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mesPage1</servlet-name>
    <url-pattern>/mesPage1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditFAQ</servlet-name>
    <servlet-class>com.shengjia.adminServlet.EditFAQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFAQ</servlet-name>
    <url-pattern>/EditFAQ</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EditMain</servlet-name>
    <servlet-class>com.shengjia.main.EditMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMain</servlet-name>
    <url-pattern>/EditMain</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>EditFAQC</servlet-name>
    <servlet-class>com.shengjia.adminServlet.EditFAQC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFAQC</servlet-name>
    <url-pattern>/EditFAQC</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DeFAQC</servlet-name>
    <servlet-class>com.shengjia.adminServlet.DeFAQC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeFAQC</servlet-name>
    <url-pattern>/DeFAQC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FAQPage</servlet-name>
    <servlet-class>com.shengjia.adminServlet.FAQPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQPage</servlet-name>
    <url-pattern>/FAQPage</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>FAQPage1</servlet-name>
    <servlet-class>com.shengjia.faq.FAQPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQPage1</servlet-name>
    <url-pattern>/FAQPage1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FAQCPage</servlet-name>
    <servlet-class>com.shengjia.adminServlet.FAQCPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQCPage</servlet-name>
    <url-pattern>/FAQCPage</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>FAQCPage1</servlet-name>
    <servlet-class>com.shengjia.faq.FAQCPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQCPage1</servlet-name>
    <url-pattern>/FAQCPage1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFAQ</servlet-name>
    <servlet-class>com.shengjia.adminServlet.AddFAQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFAQ</servlet-name>
    <url-pattern>/AddFAQ</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddMain</servlet-name>
    <servlet-class>com.shengjia.main.AddMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMain</servlet-name>
    <url-pattern>/AddMain</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AddFAQC</servlet-name>
    <servlet-class>com.shengjia.adminServlet.AddFAQC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFAQC</servlet-name>
    <url-pattern>/AddFAQC</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddImgSuc</servlet-name>
    <servlet-class>com.shengjia.adminServlet.AddImgSuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddImgSuc</servlet-name>
    <url-pattern>/AddImgSuc</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DeleteMSucI</servlet-name>
    <servlet-class>com.shengjia.adminServlet.DeleteMSucI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMSucI</servlet-name>
    <url-pattern>/DeleteMSucI</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>OPSuc1</servlet-name>
    <servlet-class>com.shengjia.userServlet.OPSuc1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OPSuc1</servlet-name>
    <url-pattern>/OPSuc1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MateServlet</servlet-name>
    <servlet-class>com.shengjia.userServlet.MateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MateServlet</servlet-name>
    <url-pattern>/MateServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>MatePage</servlet-name>
    <servlet-class>com.shengjia.material.MatePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatePage</servlet-name>
    <url-pattern>/MatePage</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>CasPage</servlet-name>
    <servlet-class>com.shengjia.material.CasPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CasPage</servlet-name>
    <url-pattern>/CasPage</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>OPMa</servlet-name>
    <servlet-class>com.shengjia.material.OPMa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OPMa</servlet-name>
    <url-pattern>/OPMa</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>OPCas</servlet-name>
    <servlet-class>com.shengjia.material.OPCas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OPCas</servlet-name>
    <url-pattern>/OPCas</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>DeMa</servlet-name>
    <servlet-class>com.shengjia.material.DeMa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeMa</servlet-name>
    <url-pattern>/DeMa</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AddMate</servlet-name>
    <servlet-class>com.shengjia.material.AddMate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMate</servlet-name>
    <url-pattern>/AddMate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddSecondMa</servlet-name>
    <servlet-class>com.shengjia.material.AddSecondMa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSecondMa</servlet-name>
    <url-pattern>/AddSecondMa</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddThirdMa</servlet-name>
    <servlet-class>com.shengjia.material.AddThirdMa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddThirdMa</servlet-name>
    <url-pattern>/AddThirdMa</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>EditMate</servlet-name>
    <servlet-class>com.shengjia.material.EditMate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMate</servlet-name>
    <url-pattern>/EditMate</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>OPMa1</servlet-name>
    <servlet-class>com.shengjia.userServlet.OPMa1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OPMa1</servlet-name>
    <url-pattern>/OPMa1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeMa1</servlet-name>
    <servlet-class>com.shengjia.userServlet.DeMa1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeMa1</servlet-name>
    <url-pattern>/DeMa1</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>EditSecondMa</servlet-name>
    <servlet-class>com.shengjia.material.EditSecondMa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSecondMa</servlet-name>
    <url-pattern>/EditSecondMa</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>CaS</servlet-name>
    <servlet-class>com.shengjia.material.CaS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaS</servlet-name>
    <url-pattern>/CaS</url-pattern>
  </servlet-mapping>
  
  
  
   <servlet>
    <servlet-name>MainDePage</servlet-name>
    <servlet-class>com.shengjia.main.MainDePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainDePage</servlet-name>
    <url-pattern>/MainDePage</url-pattern>
  </servlet-mapping>
</web-app>